.purple-theme {
    .breadBtn {
        background-color: #fff !important;
        color: #000 !important;
    }
}
.red-theme {
    .breadBtn {
        background-color: #fff !important;
        color: #000 !important;
    }
}
.black-theme {
    .breadBtn {
        background-color: #fff !important;
        color: #000 !important;
    }
}
.default-theme {
    .breadBtn {
        background-color: #fff !important;
        color: #000 !important;
    }
}